.items{
    float: right;
    background-color: #e91e63;
    font-size: large;
    margin-right: 25px;
    width: 200px;
}

.events {
    width: 20%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    box-sizing: border-box;
}

.events ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.events ul li {
    list-style: none;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
}

.events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

.events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 60px;
    line-height: 30px;
}

.events ul li .time h2 span {
    font-size: 30px;
}

.events ul li .details {
    padding: 20px;
    background: #acbaec;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
}

.events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
}

.events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;
}

.events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}