.filter-options{
    float:left;
}
body{
    background-color: #b397d7;
    font-family: Arial;
}
h1 {
    margin-top:20px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }
  
  form{
    text-align: left;
    background-image: url("https://media.istockphoto.com/id/937097102/vector/mentor-in-business-world.jpg?s=612x612&w=0&k=20&c=bSBdLLqdhS04T8xO_1gbHHvJudKBVO2JydtYOaerKAw=");
    background-size: cover;
    background-repeat: no-repeat;

  }
  textarea {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  form input[type="text"], form select {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    flex: 1;
    background: transparent;
    border-radius: 10px;
  }
  
  form button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(95, 72, 193);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .box{
    margin: auto;
    width: 50%;
    box-shadow: 5px 5px 5px rgb(9, 7, 7);
    padding: 10px;
    margin-top: 0px;
    background-color: white;
 }

 .mentor-request{
  font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(95, 72, 193);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
