.filter-options{
    display: flex;
    max-width: 30px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  form input[type="text"], form select {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    flex: 1;
  }
  
  form button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mentor-directory {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .mentor-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    width: 300px;
    background-color: rgb(255, 255, 255);
  }
  
  .mentor-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .mentor-card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .mentor-card button.mentor-request {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  