.container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
}

.filter {
	margin-bottom: 20px;
}

.podcast {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
    background-color: rgb(108, 94, 229);
}

.podcast h2 {
	margin-top: 0;
}
.podcast{
    overflow: hidden;
    height: 24px;
    transition: all 0.3s ease-out;
}
.podcast:hover{
    height: 300px;
}

.hidden {
	display: none;
}
body{
    background-color: rgb(12, 14, 15);
}

.others{
    font-size: larger;
    color: rgb(243, 243, 243);
}
a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(108, 94, 229);
  }